<launch>
  <arg name="robot_name"      default="vx300s_7dof"/>
  <arg name="robot_model"     default="vx300s_7dof"/>
  <arg name="speed_ctrl"      default="false"/> 
  <arg name="dof"             default="7"/>

  <include file="$(find moveit_servo)/launch/vx300s_7dof_moveit_servo_common.launch">
    <arg name="robot_name"      value="$(arg robot_name)"/>
  </include>

  <group ns="$(arg robot_name)">

    <node name="joint_group_controller_loader" pkg="controller_manager" type="spawner" 
        args="--stopped joint_group_velocity_controller joint_group_position_controller" />

    <node name="vx300s_pose_tracker" pkg="moveit_servo" type="pose_tracker_node" output="screen">
      
      <rosparam if="$(arg speed_ctrl)" command="load" file="$(find moveit_servo)/config/vx300s_7dof_vel_ctrl.yaml" /> 
      
      <rosparam unless="$(arg speed_ctrl)" command="load" file="$(find moveit_servo)/config/vx300s_7dof_pos_ctrl.yaml" /> 

      <rosparam command="load" file="$(find moveit_servo)/config/pose_tracking_settings.yaml" />
      
      <remap from="joint_states" to="/$(arg robot_name)/joint_states"/>
    </node>
  </group>
</launch>